{% extends 'Adminside/Adbase.html' %}
{% block main  %}


<div class="row">
    <div class="col-md-6 p-2">
        <div class="card shadow bg-dark">
            <div class="card-body">
            
                <h4 class="text-light">Total Users</h4>
                <h5 style="color : #F1948A">{{countusers}}</h5>
            </div>
            <div class="card-footer">
                <a href="" class="text-warning">View Details >></a>
            </div>
        </div>
    </div>
  
    <div class="col-md-6 p-2">
        <div class="card shadow bg-dark">
            <div class="card-body">
                <h4 class="text-light">Total Products</h4>
                <h5 style="color : #F1948A">{{countproducts}}</h5>
            </div>
            <div class="card-footer">
                <a href="" class="text-warning">View Details >></a>
            </div>
        </div>
    </div>
    <br>
    <div class="col-md-6 p-2">
        <div class="card shadow bg-dark">
            <div class="card-body">
                <h4 class="text-light">Total Category</h4>
                <h5 style="color : #F1948A">{{cate_count}}</h5>
            </div>
            <div class="card-footer">
                <a href="" class="text-warning">View Details >></a>
            </div>
        </div>
    </div>
 
   
    <div class="col-md-6 p-2">
        <div class="card shadow bg-dark">
            <div class="card-body">
                <h4 class="text-light">Total Order</h4>
        <h5 style="color : #F1948A">{{countorder}}</h5>
            </div>
            <div class="card-footer">
                <a href="" class="text-warning">View Details >></a>
            </div>
        </div>
    </div>

   
</div>

<canvas id="order-chart" width="400" height="400"></canvas>


{% endblock  %}