{% extends 'Adminside/Adbase.html' %}
{% block main %}


<div class="container my-3">
  <div class="row">
    <div class="col-md-12" style="margin-top: 70px">
      <div class="card shadow">
        <div class="card-header">
          <h3>View order</h3>
        </div>
        <div class="card-body">
          {% for message in messages %}
          <div>
            <p class=" my-5 alert alert-{{message.tags}}">{{message}}</p>
          </div>
          {% endfor %}
          <div class="row">
            <div class="col-md-6">
              <h4>Shipping Details</h4>
              <hr />
              <label class="mt-2"> Name</label>
              <div class="border p-1">
                {{address.name}} 
              </div>

              <label class="mt-2">Email</label>
              <div class="border p-1">{{address.email}}</div>
            
            
              <label class="mt-2">Delivery Address</label>
              <div class="border p-1">
                {{order.address}} <br />
                {{address.city}} <br />
                {{address.state}} <br />
                {{address.country}} <br />
                Pin Code : {{address.postal_code}}
              </div>
            </div>
            <div class="col-md-6">
              <h4>Order Details</h4>
              <table class="table table-borderless">
                <thead class="text-muted">
                  <tr class="small text-uppercase">
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in orderitem %}
                  <tr>
                    <td>
                      <figure class="itemside align-items-center">
                        <div class="how-itemcart1">
                          <img
                            src="{{ item.product.product_image.url }}"
                            style="height: 100px"
                            alt="IMG"
                          />
                        </div>
                        <figcaption class="info">
                          <a href="#" class="title text-dark"
                            >{{ item.product.title }}</a
                          >
                        </figcaption>
                      </figure>
                    </td>
                    <td class="column">
                      <label class="my-3" for="">{{ item.quantity }}</label>
                    </td>
                    <td>
                      <div class="price-wrap">
                        <var class="price">₹{{ item.price }}</var><br />
                        <small class="text-muted">
                          ₹{{ item.product.discount_price}} each
                        </small>
                      </div>
                      <!-- price-wrap .// -->
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <hr />
              <div>
                <h5 class="d-flex align-end">
                  Grand Total : ₹{{address.total_price}}
                </h5>
                <br />
               
                  
                {% if address.order_status == 'Cancelled' %}
                <h6>
                  Order Status:
                  <span class="text-danger">{{address.order_status}}</span>
                </h6>
                <br />
                {% elif address.order_status == 'Delivered' %}
                <h6>
                  Order Status:
                  <span class="text-success">{{address.order_status}}</span>
                </h6>
                <br />
                {% elif address.order_status == 'Shipped' %}
                <h6>
                  Order Status:
                  <span class="text-success">{{address.order_status}}</span>
                </h6>
                <br />
                {% elif address.order_status == 'Pending' %}
                <h6>
                  Order Status:
                  <span class="text-warning">{{address.order_status}}</span>
                </h6>
                <br />
                {% elif address.order_status == 'Out for shipping' %}
                <h6>
                  Order Status:
                  <span class="text-primary">{{address.order_status}}</span>
                </h6>
                <br />
                {% endif %}
                <h6>Tracking Number : {{address.tracking_number}}</h6>
                <br />
              </div>
              {% if orders.order_status == 'Pending' %}
              <div class="d-flex justify-content-end my-2">
                <a href="{% url 'order_shipping' orders.tracking_number %}"
                  ><button class="btn btn-success">Accept order</button></a>
              </div>

              {% elif orders.order_status == 'Out for shipping' %}
              <div class="d-flex justify-content-end my-2">
                <a href="{% url 'order_shipped' orders.tracking_number %}"
                  ><button class="btn btn-primary">Shipped</button></a
                >
              </div>
              {% elif orders.order_status == 'Shipped' %}
              <div class="d-flex justify-content-end my-2">
                <a href="{% url 'order_delivered' orders.tracking_number %}"
                  ><button class="btn btn-success">Delivered</button></a
                >
              </div>
              {% endif %} {% comment %} {% if order.status == 'Out For Shipping'
              or order.status == 'Shipped' %}

              <div class="d-flex justify-content-end my-2">
                <a href="{% url 'manager_cancel_order' order.tracking_no %}"
                  ><button class="btn btn-danger">Cancel Order</button></a
                >
              </div>
              {% endif %} {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



  {% endblock main %}

