{% extends 'Adminside/Adbase.html' %}
{%load static%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
   
    <link rel="stylesheet" href="{% static '/css/style.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/elegant-icons.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/jquery-ui.min.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/magnific-popup.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/slicknav.min.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/sass.css'%}"  type="text/css">

    
    
</head>


{% block main  %}

<div class="card shadow">
    <div class="card-body">
        <div class="d-flex mb-3 justify-content-end">
            <form action="{% url 'view_product' %}" class="search" method="POST">
              {% csrf_token %} 
              <div class="input-group w-100">
                <input type="text" class="form-control" style="width: 60%" placeholder="Search" name="keyword" />
      
                <div class="input-group-append">
                  <button class="btn btn-dark" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>

        <h5 class="p-2" style="border-bottom: 2px solid orange;">All Product</h5>
        <div class="container-fluid">

            <table class="table table-bordered table-sm" id="example">
                <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in paged_users %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img src="{{i.product_image.url}}" style="width:100px"/></td>
                    <td>{{i.title}}</td>
                    <td>{{i.category.name}}</td>
                    <td>{{i.selling_price}}</td>
                    <td>{{i.discount_price}}</td>
                    <td>
                        <a href="{% url 'editproduct' i.id %}" class="text-success">Edit</a>
                        <a href="{% url 'delete_product' i.id %}" class="text-danger"
                           onclick="return confirm('Are You Sure?')">Delete</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <nav class="mt-4" aria-label="Page navigation sample">
      {% if paged_users.has_other_pages %}
      <ul class="pagination">
        {% if paged_users.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ paged_users.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %} {% for page_number in paged_users.paginator.page_range %} {% if paged_users.number == page_number %}
        <li class="page-item active"><a class="page-link" href="#">{{ page_number }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
        {% endif %} {% endfor %} {% if paged_users.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ paged_users.next_page_number }}">Next</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
      </ul>
      {% endif %}
    </nav>
  </div>

{% endblock %}
 


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark bg-light" href="#" id="navbardrop" data-toggle="dropdown">
        <i class="fas fa-chart-bar mr-3 text-primary fa-fw"></i> Manage Product
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'add_product' %}">Add Product</a>
        <a class="dropdown-item" href="{% url 'view_product' %}">View Product</a>
    </div>
</li>


<script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
<script src="{% static 'js/jquery-ui.min.js'%}"></script>
<script src="{% static 'js/mixitup.min.js'%}"></script>
<script src="{% static 'js/jquery.countdown.min.js'%}"></script>
<script src="{% static 'js/jquery.slicknav.js'%}"></script>
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/jquery.nicescroll.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
</body>

</html>