{% extends 'Adminside/Adbase.html' %}
{% block main  %}

<div class="card shadow">
    <div class="card-body">

        <div class="d-flex mb-3 justify-content-end">
            <form action="{% url 'view_category' %}" class="search" method="POST">
              {% csrf_token %} 
              <div class="input-group w-100">
                <input type="text" class="form-control" style="width: 60%" placeholder="Search" name="keyword" />
      
                <div class="input-group-append">
                  <button class="btn btn-dark" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>

        <h5 class="p-2" style="border-bottom: 2px solid orange;">All Category</h5>
        <div class="container-fluid">

            <table class="table table-bordered table-sm" id="example">
                <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Category Name</th>
                    <th>Creation Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in paged_users %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.created}}</td>
                    <td>
                        <a href="/edit-category/{{i.id}}/" class="text-success">Edit</a>
                        <a href="/delete-category/{{i.id}}/" class="text-danger"
                           onclick="alerted()">Delete</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="container">
              <nav class="mt-4" aria-label="Page navigation sample">
                {% if paged_users.has_other_pages %}
                <ul class="pagination">
                  {% if paged_users.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ paged_users.previous_page_number }}">Previous</a></li>
                  {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                  {% endif %} {% for page_number in paged_users.paginator.page_range %} {% if paged_users.number == page_number %}
                  <li class="page-item active"><a class="page-link" href="#">{{ page_number }}</a></li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                  {% endif %} {% endfor %} {% if paged_users.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ paged_users.next_page_number }}">Next</a></li>
                  {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                  {% endif %}
                </ul>
                {% endif %}
              </nav>
            </div>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function alerted() {  
        
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                if (result.isConfirmed) {
                  Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                  )
                }
              })
        
        } 
</script>
{% endblock main %}