{% extends 'base.html' %}

    {% block content %}

    <h1>category: {{ product }}</h1>
    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for prod in products %}
            <div class="col mb-4">
                <div class="card h-100">
                    <a href="{% url 'product-details' prod.id %}">
                        <img src="{{ prod.product_image.url }}" width="500px" height="400px" style="object-fit: cover;" alt="{{ prod.title }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ prod.title }}</h5>
                        <div class="product__details__price">Rs.{{prod.discount_price}}/- <span>Rs.{{prod.selling_price}}/-</span></div>
                        <p>{{products.description}}</p>
                        {% comment %} <p class="card-text">Rs.{{ prod.discount_price }}/- <span >Rs.{{ prod.selling_price }}/-</span></p> {% endcomment %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


    
