{% extends 'base.html' %}
{%load static%}


    <!-- Categories Section Begin -->
    {% block content %}
  


<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad">
  
        {% if Product %}
        {% for j in Product %}
        <div class="row property__gallery">
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'img/product/product-1.jpg'%}">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li><a href="{{j.product_image.url}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Buttons tweed blazer</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            
           
           
            {% endfor %}
            {% endif %}
          
            
            
            
    </div>
</section>
<!-- Product Section End -->

<!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="{% static 'img/banner/banner-1.jpg'%}">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-8 col-sm-10 mx-auto">
          <div class="banner__slider owl-carousel">
            <div class="banner__item">
              <div class="banner__text">
                <h1>Explore The NovShop</h1>
                <a href="{% url 'products' 0 %}">Shop now</a>
              </div>
            </div>
            <div class="banner__item">
              <div class="banner__text">
                <span>The Chloe Collection</span>
                <h1>Trendings</h1>
                <a href="{% url 'products' 0 %}">Shop now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  




</div>
{% endblock content %}
<!-- Instagram End -->

