{% extends 'base.html' %}
{%load static%}
{% comment %} 

 {%load static%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
   
    <link rel="stylesheet" href="{% static '/css/style.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/elegant-icons.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/jquery-ui.min.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/magnific-popup.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/slicknav.min.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/sass.css'%}"  type="text/css">

    
    
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="{% static 'img/logo.png' %}%" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="">Login</a>
             {% if user.is_authenticated %} 
             {% endif %}
             <a href="#">Register</a> 
           
         
         </div>
    </div> 
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
     <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <h2>MINA"S</h2>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                           
                             <li><a href="./sh">Shop</a></li>
                            <li><a href="#">category</a>
                                <ul class="dropdown">
                                    {% for x in category %}
                                    <li><a href="{% url 'category' x.id %}">{{x.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="{% url 'profile' %}">profile</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                           
                        </li>
                        {% if user.is_authenticated %}
                     
                        <a href="{% url 'logout' %}">logout</a>
                        {% else %}
                        <a href="{% url 'signin' %}">Login</a>
                        <a href="#">Register</a>
                            {% endif %}
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="#"><span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>   {% endcomment %}
    <!-- Header Section End -->

    <!-- Categories Section Begin -->
    {% block content %}
  
    <section class="categories">
        <div class="container-fluid" style='overflow:hidden;'>
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="categories__item categories__large__item set-bg"
                    data-setbg="{% static 'img/categories/western.webp' %}">
                    <div class="categories__text">
                        <h1>Women's fashion</h1>
                        <p>Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                        edolore magna aliquapendisse ultrices gravida.</p>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/jump.webp'%}">
                            <div class="categories__text">
                                <a href="">
                                <h4>casual</h4>
                                <p>358 items</p>
                                <a href="">Shop now</a>
                            </div>
                        </a>
                        </div>
                    </div>
               
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/instagram/peech.jpg'%}">
                            <div class="categories__text">
                                <a href="">
                                <h4>Wedding wears</h4>
                                <p>273 items</p>
                                <a href="#">Shop now</a>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/fprmal.jpg'%}">
                            <div class="categories__text">
                                <a href="">
                                <h4>Formal wears</h4>
                                <p>159 items</p>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/green net.webp'%}">
                            <div class="categories__text">
                                
                                <a href="">
                                <h4>Party wears</h4>
                                <p>792 items</p>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>New product</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="{% url 'products' 0 %}">All</li>
                    <li data-filter=".women">Women's</li>
                    <li data-filter=".men">Men's</li>
                    <li data-filter=".kid">Kid's</li>
                    <li data-filter=".accessories">Accessories</li>
                    <li data-filter=".cosmetic">Cosmetics</li>
                </ul>
            </div>
        </div>
        {% if Product %}
        {% for j in Product %}
        <div class="row property__gallery">
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'img/product/product-1.jpg'%}">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li><a href="{{j.product_image.url}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Buttons tweed blazer</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            
           
           
            {% endfor %}
            {% endif %}
          
            
            
            
    </div>
</section>
<!-- Product Section End -->

<!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="{% static 'img/banner/banner-1.jpg'%}">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-8 col-sm-10 mx-auto">
          <div class="banner__slider owl-carousel">
            <div class="banner__item">
              <div class="banner__text">
                <h1>Available Coupons</h1>
                {% if coupons %}
                  <div class="coupon-banner">
                    <h2>Save Big with Our Coupons!</h2>
                    <ul>
                      {% for c in coupons %}
                      <li>{{ c.code }} - {{ c.discount }}% off</li>
                      <a href="{% url 'products' 0 %}">Shop now</a>
                      {% endfor %}
                    </ul>
                  </div>
                {% else %}
                  <p>No coupons available at the moment.</p>
                {% endif %}
              </div>
            </div>
            <div class="banner__item">
              <div class="banner__text">
                <span>The Chloe Collection</span>
                <h1>The Project Jacket</h1>
                <a href="#">Shop now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<!-- Banner Section End -->

<!-- Trend Section Begin -->

<!-- Trend Section End -->

<!-- Discount Section Begin -->
<section class="discount">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="discount__pic">
                    <img src="{% static 'img/discount.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="discount__text">
                    <div class="discount__text__title">

                  
                        <span>Discount</span>
                        <h2>Summer 2019</h2>
                        <h5><span>Sale</span> 50%</h5>
                    </div>
                    <div class="discount__countdown" id="countdown-time">
                        <div class="countdown__item">
                            <span>22</span>
                            <p>Days</p>
                        </div>
                        <div class="countdown__item">
                            <span>18</span>
                            <p>Hour</p>
                        </div>
                        <div class="countdown__item">
                            <span>46</span>
                            <p>Min</p>
                        </div>
                        <div class="countdown__item">
                            <span>05</span>
                            <p>Sec</p>
                        </div>
                    </div>
                    <a href="#">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Discount Section End -->

<!-- Services Section Begin -->

<section class="services spad">
    <div class="container p-0 overflow:hidden">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Shipping</h6>
                    <p>For all oder over 60</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If good have Problems</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Instagram Begin -->
 
<div class="instagram">
    <div class="container-fluid px-0 overflow-x-auto">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-1.jpg'%}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@MINA's</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-2.jpg'%}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ MINA's </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-3.jpg'%}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ MINA's</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-4.jpg'%}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ MINA's</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-5.jpg'%}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ MINA's</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-6.jpg'%}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ MINA's</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
<!-- Instagram End -->

