{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-3">
        <div class="card border-0 shadow h-100 " style="width :400px">
            <div class="card-body">
                <h5 class="card-title mb-3">My Account</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item border-0"><a href="{% url 'profile' %}" class="text-decoration-none text-dark">Edit Profile</a></li>
                    <li class="list-group-item border-0"><a href="{% url 'changepassword' %}" class="text-decoration-none text-dark">Change Password</a></li>
                    
                    <li class="list-group-item border-0"><a href="{% url 'wallet_balance' %}" class="text-decoration-none text-dark">My wallet</a></li>
                    <li class="list-group-item border-0"><a href="{% url 'logout' %}" class="text-decoration-none text-dark">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="col-md-9">
        <div class="card border-0 shadow mb-3">
            <div class="card-body text-center">
                {% if Profile.image %}
                <img src="{{Profile.image.url}}" class="img-fluid rounded-circle mb-3" style="max-width: 100px" alt="{{Profile.name}}">
                {% endif %}
                <h5 class="card-title">{{Profile.name}}</h5>
                <p class="card-text mb-2">order items count :</p>
                {% comment %} {{orderitem_count}} {% endcomment %}
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-borderless table-striped">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">order date</th>
                                <th scope="col">Tracking Number</th>
                                <th scope="col">Total Price</th>
                                <th scope="col">Status</th>
                                <th scope="col">Invoice</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        {% for item in orders %}
                        <tbody>
                            <tr>
                                <td>{{ item.date_created }}</td>
                                <td>{{ item.tracking_number }}</td>
                                <td>₹ {{ item.total_price }}</td>
                                {% if item.order_status == 'Cancelled' %}
                                <td class="text-danger"><b>{{ item.order_status }}</b></td>
                                {% elif item.order_status == 'Order confirmed' %}
                                <td class="text-warning"><b>{{ item.order_status }}</b></td>
                                {% else %}
                                <td class="text-success fw-bold">
                                    <b>{{ item.order_status }}</b>
                                </td>
                                {% endif %}
                                <td><a href="{% url 'view_orders' item.tracking_number %}" class="fa fa-file-pdf-o fa-2x"></a></td>
                                <td>
                                    <a href="{% url 'view_product_order' item.tracking_number %}" class="btn btn-dark">View</a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
