{%load static%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
   
    <link rel="stylesheet" href="{% static '/css/style.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/elegant-icons.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/jquery-ui.min.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/magnific-popup.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/slicknav.min.css'%}"  type="text/css">
    <link rel="stylesheet" href="{% static '/css/sass.css'%}"  type="text/css">

    
    
</head>


{% comment %} {% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
	    <h1>Password Reset Form</h1>
	    <form  method="Post"> {% csrf_token %}
	       	{{form|crispy}}
	      	<button type="submit" class="btn btn-danger">Reset Password</button>
	    </form>
	<div class="col-md-4">
    </div>
</div> {% endcomment %}


{% comment %} {% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
	    <h1>Password Reset Form</h1>
	    <form  method="Post"> {% csrf_token %}
	       	{{form|crispy}}
	      	<button type="submit" class="btn btn-danger">Reset Password</button>
	    </form>
	<div class="col-md-4">
    </div>
</div> {% endcomment %}


<div class="card-body">
	{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-4">
		{% comment %} <div class="card mt-5 "> {% endcomment %}
    </div>
    <div class="p-5 col-md-12 text-center">
	    <h1>Password Reset Form</h1>
	    <form  method="Post"> {% csrf_token %}
	       	{{form|crispy}}
	      	<button type="submit" class="btn btn-danger">Reset Password</button>
	    </form>
	<div class="col-md-4">
    </div>
</div>
	{% comment %} <form method="POST">
	  {% csrf_token %} {% endcomment %}
	  {% comment %} <div class="input-group mb-3">
		  <div class="input-group-prepend">
			<span class="input-group-text">
			  <i class="fa fa-user fa-2x"></i>
			</span>
		  </div> {% endcomment %}
		  {% comment %} <input type="text" name="username" class="form-control py-4" placeholder="UserName">
	  </div> {% endcomment %}
	  {% comment %} <div class="input-group mb-3">
		  <div class="input-group-prepend">
			<span class="input-group-text">
			  <i class="fa fa-lock fa-2x"></i>
			</span>
		  </div> {% endcomment %}
		  {% comment %} <input type="password" name="password" class="form-control p-4" placeholder="Password">
	  </div>
	  <input type="submit" value="Login" class="btn btn-success px-5">
	  <a href="{% url 'home' %}" class="float-right mt-2 text-white"><i class="fas fa-angle-double-left"></i> Go Back To HomePage </i></a>
	</form>
  </div> {% endcomment %}
{% comment %} </div>
</div>
</div> {% endcomment %}

<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
<script src="{% static 'js/jquery-ui.min.js'%}"></script>
<script src="{% static 'js/mixitup.min.js'%}"></script>
<script src="{% static 'js/jquery.countdown.min.js'%}"></script>
<script src="{% static 'js/jquery.slicknav.js'%}"></script>
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/jquery.nicescroll.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
</body>

</html>
