{% extends 'base.html' %}
{% load static %}
   
{% block content %}

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <a class="pt active" href="#product-1">
                                <img class="big_img" src="{{products.product_image.url}}" alt="">
                            </a>
                            <a class="pt" href="#product-2">
                                <img src="img/product/details/thumb-2.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-3">
                                <img src="img/product/details/thumb-3.jpg" alt="">
                            </a>
                            <a class="pt" href="#product-4">
                                <img src="img/product/details/thumb-4.jpg" alt="">
                            </a>
                        </div>
                        <div class="product__details__slider__content   ">
                            <div class="product__details__pic__slider owl-carousel ">
                                <img data-hash="product-1" class=" image-fluid " style="width:50% height: auto;" src="{{products.product_image.url}}" alt="">
                                <img data-hash="product-2" class="product__big__img" src="img/product/details/product-3.jpg" alt="">
                                <img data-hash="product-3" class="product__big__img" src="img/product/details/product-2.jpg" alt="">
                                <img data-hash="product-4" class="product__big__img" src="img/product/details/product-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="col-lg-6 col-12">
                    <div class="product__details__text">
                        <h3>{{products.title}} <span>{{products.discription}}</span></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 reviews )</span>
                        </div>
                        
                        <div class="product__details__price">Rs.{{products.discount_price}}/- <span>Rs.{{products.selling_price}}/-</span></div>
                        <p>{{products.description}}</p>
                        <div class="product__details__button">
                         
                            <div>
                              
                                <div>
                                    <form action="{% url 'add-to-cart' products.id %}" method="POST">
                                        {% csrf_token %}
                                        {% comment %} <input type="hidden" name="prod_id" value="{{product.id}}"/>  {% endcomment %}
                                        <button type="submit" class="cart-btn">
                                            <span class="icon_bag_alt"></span> Add to cart
                                        </button>
                                  
                                </div>
                                      <ul>
                                <li><a href="{% url 'wishlist' pk %}"><span class="icon_heart_alt"></span></a></li>
                               
                            </ul>
                        </div>
                        <div class="product__details__widget">
                            <ul>
                              
                                <li>
                                   
                                    <span>Available color:</span>
                                    <div class="color__checkbox">
                                 

                                      {% for variation in products.variation_set.colors %}
  <label for="{{ variation.variation_value }}">
    <input type="radio" name="color" id="{{ variation.variation_value }}" value="{{ variation.variation_value }}">
    <span style="background-color: {{ variation.variation_value|lower }};" class="checkmark"></span>
  </label>
{% endfor %}

                                      
                                        {% comment %} <label for="grey">
                                            <input type="radio" name="color" id="grey">
                                            <span class="checkmark grey-bg"></span>
                                        </label> {% endcomment %}
                                    </div>
                                </li>
                                <li>
                                    <span>Available size:</span>
                                    {% for variation in products.variation_set.sizes %}
                                    <div class="size__btn">
                                      
                                     
                                        <label for="{{ variation.variation_value }}">
                                            <input type="radio" id="{{ variation.variation_value |capfirst }}" name="size" value="{{ variation.variation_value}}">
                                            {{ variation.variation_value}}
                                        </label>
                                     {% endfor %}
                                </li>
                                <li>
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
            
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <h6>Reviews ( 2 )</h6>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12  col-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>
               
                            
                        </div>
                  
                    </div>
                </div>
                <div class='container'>
                <div class="col-lg-9 col-md-9 col-12">
                    <div class="row">
                        {% for product in related_products %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="product__item">
                                <div class="product__item__pic set-bg  " style="width:200px ;" data-setbg="{{ product.product_image.url }}" >
                                    <div class="label new">New</div>
                                    <ul class="product__hover">
                                        <li><a href="{% url 'product-details' product.id %}"><span class="fa fa-eye"></span></a></li>
                                        <li><a href="{% url 'wishlist' product.id %}"><span class="icon_heart_alt"></span></a></li>
                                        <li><a href=""><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">{{product.title}}</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price">Rs{{product.discount_price}}</div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                    </div><div class="row">
                {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
                
                  
               
                   
     
    </section>
    <!-- Product Details Section End -->

    <!-- Instagram Begin -->
    <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 col-12 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <script type="text/javascript">
        $(document).ready(function () {
          $(".big_img").imagezoomsl({
              zoomrange:[3,3]
          })
           
          })
     
    
      </script> {% endcomment %}
    
    {% endblock content %}
    <!-- Instagram End -->
