{% extends 'base.html' %}
{% load static %}

{% comment %} <h1>profile</h1>
<form method="POST" enctype="multipart/form-data">
 {% csrf_token %}
   {{u_form.as_p}}
   {{p_form.as_p}}
   <button class="button" type="submit">UPDATE</button>
   <a class="button" href="{% url 'home' %}">Home</a>


</form>
<div>
 {% if messages %}
 {% for mess in messages %}
 <div class="alert alert-{{mess.tags}}" role="alert">
   {{mess}}
 </div>
 {% endfor %}
{% endif %} 
</div> {% endcomment %}

{% block content %}

  




<div class="container mt-5">
  <div class="card-header">
    <h3 class="mb-0 text-center">Profile</h3>
  </div>
  <div class="card col-md-12">
    {% if userprofile.image %}
    <img src="{{ userprofile.image.url }}" alt="Profile picture" class="card-img-top- profile-pic img-fluid rounded-circle mb-12  mx-auto d-block" style="width: 200px">
    <input type="file" name="image" id="image-upload" style="display:none">

    {% endif %}
  
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
              <label for="id_name" class="col-sm-3 col-form-label">Name:</label>
              <div class="col-sm-9">
                {{ p_form.name }}
              </div>
            </div>
              <div class="form-group row">
                <label for="id_name" class="col-sm-3 col-form-label"> User name:</label>
                <div class="col-sm-9">
                  {{ u_form.username }}
                </div>
            
            </div>
            <div class="form-group row">
              <label for="id_email" class="col-sm-3 col-form-label">Email:</label>
              <div class="col-sm-9">
                {{ u_form.email }}
              </div>
            </div>
           
              
            </div>
            <div class="form-group row">
              <label for="id_image" class="col-sm-3 col-form-label">Profile picture:</label>
              <div class="col-sm-9">
                {{ p_form.image }}
              </div>
            </div>
            <div class="form-group row">
              <label for="id_address" class="col-sm-3 col-form-label">Address:</label>
              <div class="col-sm-9">
                {{ p_form.address }}
              </div>
            </div>
            <div class="form-group row">
              <label for="id_city" class="col-sm-3 col-form-label">City:</label>
              <div class="col-sm-9">
                {{ p_form.city }}
              </div>
            </div>
            <div class="form-group row">
              <label for="id_state" class="col-sm-3 col-form-label">State:</label>
              <div class="col-sm-9">
                {{ p_form.state }}
              </div>
            </div>
            <div class="form-group row">
              <label for="id_country" class="col-sm-3 col-form-label">Country:</label>
              <div class="col-sm-9">
                {{ p_form.country }}
              </div>
            </div>
            <div class="form-group row">
              <label for="id_postcode" class="col-sm-3 col-form-label">Postcode/Zip:</label>
              <div class="col-sm-9">
                {{ p_form.postcode }}
              </div>
            </div>
            <div class="form-group row">
              <label for="id_phone" class="col-sm-3 col-form-label">Phone:</label>
              <div class="col-sm-9">
                {{ p_form.phone }}
              </div>
            </div>
            <div class="form-group row">
              <label for="id_wallet" class="col-sm-3 col-form-label">wallet Balance</label>
              <div class="col-sm-9">
                {{ p_form.wallet}}
              </div>
            <div class="form-group row">
              <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </div>
          </div>
        </div>
{% endblock content %}