{% extends 'base.html' %}
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
{% block content %}
     <!-- Breadcrumb Begin -->
     <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        {% for j in paged_users %}
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{j.product_image.url}}">
                                        <div class="label new">New</div>
                                        <ul class="product__hover">
                                            <li><a href="{% url 'add-to-cart' j.id %}"><span class="icon_bag_alt"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6><a href="#">{{j.title}}</a></h6>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product__price">Rs/-{{j.discount_price}}</div>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:3 %}
                                </div></div><div class="row">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


                    
<div class="col-lg-12 text-center">
                            <div class="pagination__option">

                        {% comment %} <div class="container">
                             <nav class="mt-4" aria-label="Page navigation sample"> {% endcomment %}
                            {% if paged_users.has_other_pages %}
                            <ul class="pagination">
                                {% if paged_users.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ paged_users.previous_page_number }}"><i class="fa fa-angle-right"></i></a></li>
                                {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                                {% endif %} {% for page_number in paged_users.paginator.page_range %} {% if paged_users.number == page_number %}
                                <li class="page-item active"><a class="page-link" href="#">{{ page_number }}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                                {% endif %} {% endfor %} {% if paged_users.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ paged_users.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
                                {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                                {% endif %}
                            </ul>
                            {% endif %}
                            </nav>
                        </div>
                   
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
   
  
    <!-- Instagram End -->


  {% endblock  %}


