 {% extends 'base.html' %}

{% block content %}
   
{% comment %} <h1>My Wishlist</h1>
    {% if products %}
        <div class="card-deck">
            {% for product in products %}
                <div class="card">
                    <img class="card-img-top" src="{{ product.product_image.url }}" alt="{{ product.title }}" style="height: 200px; width:300px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Your wishlist is empty.</p>
    {% endif %} {% endcomment %}
    <h1 style="text-align: center; font-family: Arial, sans-serif; font-size: 36px; color: #333; padding: 20px;">wishlist</h1>


<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for prod in products %}
      <div class="col mb-4">
          <div class="card h-100">
              <a href="{% url 'product-details' prod.id %}">
                  <img src="{{ prod.product_image.url }}" width="500px" height="400px" style="object-fit: cover;" alt="{{ prod.title }}">
              </a>
              <div class="card-body">
                  <h5 class="card-title">{{ prod.title }}</h5>
                  <div class="product__details__price">Rs.{{prod.discount_price}}/- <span>Rs.{{prod.selling_price}}/-</span></div>
                  <p>{{products.description}}</p>
                  {% comment %} <p class="card-text">Rs.{{ prod.discount_price }}/- <span >Rs.{{ prod.selling_price }}/-</span></p> {% endcomment %}
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}

